.container
  .row
    %h3 Profiles
    .column
      %table.table
        %tbody
          - users.each do |user|
            %tr
              %td
                = link_to user.name || user.email, user_profile_path(user)
              %td
                = render partial: 'profiles/follow_button', locals: {user: user}
