.container
  .row
    %h3 Users
    .column
      %table.table
        %tbody
          - @users.each do |user|
            %tr
              %td
                = link_to user.name || user.email, user_profile_path(user)
