%header.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1.brand-heading
            Homefoodie
          %p.intro-text
            Explore home-made yum in your neighborhood