$body-bg: #f5f5f5 !default;
$text-color: #ff9591 !default;
$font-family-base: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif !default;

$headings-font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !default;

$navbar-default-bg: #AD616A !default;

$navbar-height: 50px !default;
$footer-height: 40px !default;

$link-color: $text-color !default;
$link-hover-color: darken($text-color, 6.5%) !default;