%input.form-control#address{type:"text", placeholder:"Enter an address"}

= include_gmap_js
:javascript
  var addressPicker = new AddressPicker();

  $('#address').typeahead(null, {
    displayKey: 'description',
    source: addressPicker.ttAdapter()
  });