- class_name = dish.owner?(current_user) ? 'readonly-rating-star' : 'rating-star'
%div{class: "#{class_name}"}
  = rating_for dish, Dish::RATE_DIMENSION_DISH, :cancel => false, :enable_half => true, :half_show => true
  :javascript
    $(document).on("ready page:load", function(){
      $(".readonly-rating-star .star").each(function() {
        $(this).raty('set', { readOnly: true });
      });
    });