-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-custom.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.page-scroll{:href => root_url}
        %i.fa.fa-lg.fa-cutlery
          %span.sr-only Home
          Home
    .collapse.navbar-collapse.navbar-main-collapse
      %ul.nav.navbar-nav
        - if current_user
          %li 
            %a{href: user_dishes_path(current_user)}
              %i.fa.fa-lg.fa-list
                My dishes
          %li 
            %a{href: user_events_path(current_user)}
              %i.fa.fa-lg.fa-calendar
                My events
        %li 
          %a{href: dish_search_path}
            %i.fa.fa-lg.fa-search
              Find dish
          
      %ul.nav.navbar-nav.pull-right
        = render 'layouts/navigation_links'
